.MainPage {
  background: radial-gradient(circle, #DD615A 40%, rgba(240, 110, 110, 0.8) 60%, rgba(240, 200, 160, 0.5) 100%);
  background-size: 400% 400%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: gradientAnimation 15s ease infinite;
}

.MainPage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.MainPage-subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

.MainPage-logo {
  height: auto;
  max-height: 400px;
  width: auto;
  margin-bottom: -40px;
}

.MainPage-buttons {
  display: flex;
  flex-direction: row; /* Changed from column to row */
  justify-content: center; /* Center the buttons horizontally */
  gap: 20px; /* Space between buttons */
  margin-top: 45px;
}

.MainPage-SignIn-Button,
.MainPage-DemoSignUp-Button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 50px 0;
}

.MainPage-SignIn-Button:hover,
.MainPage-DemoSignUp-Button:hover {
  background-color: white;
  color: #DD615A;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .MainPage-buttons {
    flex-direction: column; /* Stack buttons vertically on small screens */
  }
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.LoginPage {
  background-color: #DD615A;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: opacity 0.5s ease; /* Smooth fade effect */
}

.fadeIn {
  opacity: 0;
}

.LoginPage-container {
  background: radial-gradient(circle, #DD615A 40%, rgba(240, 110, 110, 0.8) 60%, rgba(255, 255, 255, 0.369) 100%);
  background-size: 350% 350%;
  min-width: 250px;
  width: 30%;
  min-height: 22%;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border: 2px solid #ddd;
  text-align: center;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.DemoSignUpPage-header h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 25x;
}

input {
  display: block;
  background-color: rgba(255, 255, 255, 0.464);
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 80%;
}

button {
  margin-top: 20px;
}

.DemoSignUpPage {
  background-color: #DD615A;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: opacity 0.5s ease; /* Smooth fade effect */
}

.fadeIn {
  opacity: 0;
}

.DemoSignUpPage-container {
  background: radial-gradient(circle, #DD615A 40%, rgba(240, 110, 110, 0.8) 60%, rgba(255, 255, 255, 0.369) 100%);
  background-size: 400% 400%;
  min-width: 300px;
  width: 30%;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
  text-align: center;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.DemoSignUpPage-header h1 {
  color: rgb(255, 255, 255);
  margin: 10px 25px;
}

input {
  display: block;
  background-color: rgba(255, 255, 255, 0.464);
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 80%;
  margin-bottom: 5%;
  margin-top: 5%;
}

button {
  margin-top: 50px;
}
